<h1>Handlekurv</h1>

<% if @cart.empty? %>
  <p>Din handlekurv er tom.</p>
<% else %>
  <ul>
    <% @cart.products.each do |product, size, amount| %>
      <li>
        <%= product.title %> (størrelse <%= size %>): <%= amount %>
        <%= button_to "Fjern én", decrease_from_cart_path(product, size: size) %>
        <%= button_to "Fjern alle", remove_from_cart_path(product, size: size) %>
      </li>
    <% end %>
  </ul>
  <br>
  <%= form_for @order do |f| %>
    <%= f.select "user_id", options_from_collection_for_select(@users, "id", "name") %>
    <%= f.label :credit_card %>:
    <%= f.text_field :credit_card, size: 16 %><br />
    <%= f.label "Utløp" %>:
    <%= f.text_field :exp_month, size: 2 %>
    <%= f.text_field :exp_year, size: 4 %><br />
    <%= f.label :cc %>:
    <%= f.text_field :cc, size: 3 %><br />
    <%= f.submit "Kjøp" %>
   <% end %>
<% end %>
