<h1>Handlekurv</h1>

<% if @cart.empty? %>
  <p>Din handlekurv er tom.</p>
<% else %>
  <ul>
    <% @cart.products.each do |product, size, amount| %>
      <li>
        <%= product.title %> (størrelse <%= size %>): <%= amount %>
        <%= button_to "Fjern én", decrease_from_cart_product_path(product, size: size) %>
        <%= button_to "Fjern alle", remove_from_cart_product_path(product, size: size) %>
      </li>
    <% end %>
  </ul>
<% end %>
