<h1>Velkommen til Lille Vinkel skobutikk på nett!</h1>
<h2>Den enkle måten å handle sko til hele familien.</h2>

<table style="width:100%">
  <tr bgcolor="#ccc">
    <td>Navn</td>
    <td></td>
    <td>Beskrivelse</td>
    <td>Pris</td>
    <td>På lager</td>
    <td></td>
  </tr>
  <% @products.each do |prod| %>
  <tr>
    <td><%=prod.title%></td>
    <td><img src="<%=image_path(prod.image)%>"></td>
    <td><%=prod.description%></td>
    <td><%=prod.price%></td>
    <td><%=prod.stock%></td>
    <td><%=button_to "Kjøp"%></td>
  </tr>
  <%end%>
</table>
