<table class="table product-list">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Navn</th>
      <th></th>
      <th>Beskrivelse</th>
      <th>Farge</th>
      <th>Størrelser</th>
      <th>Pris</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |prod| %>
    <tr>
      <td><%=prod.brand%></td>
    <td><%=prod.title%></td>
    <td><img src="<%=image_path(prod.image)%>"></td>
    <td><%=prod.description%></td>
    <td><%=prod.color%></td>
    <td><%=prod.size_min%> - <%=prod.size_max%></td>
    <td><%=prod.price%></td>
    <td>
      <%= form_tag add_to_cart_path(prod), method: :post, remote: true do %>
        <%= select_tag :size, options_for_select(prod.size_min..prod.size_max) %>
        <%= submit_tag "Legg til" %>
      <% end %>
    </td>
    <%end%>
  </tbody>
</table>
