<h1>Velkommen til Lille Vinkel skobutikk på nett!</h1>
<h2>Den enkle måten å handle sko til hele familien.</h2>

<table style="width:100%">
  <tr bgcolor="#ccc">
    <td>Brand</td>
    <td>Navn</td>
    <td></td>
    <td>Beskrivelse</td>
    <td>Farge</td>
    <td>Størrelser</td>
    <td>Pris</td>
    <td></td>
  </tr>
  <% @products.each do |prod| %>
  <tr>
    <td><%=prod.brand%></td>
    <td><%=prod.title%></td>
    <td><img src="<%=image_path(prod.image)%>"></td>
    <td><%=prod.description%></td>
    <td><%=prod.color%></td>
    <td><%=prod.size_min%> - <%=prod.size_max%></td>
    <td><%=prod.price%></td>
    <td>
      <%= form_tag add_to_cart_product_path(prod), method: :post do %>
        <%= select_tag :size, options_for_select(prod.size_min..prod.size_max) %>
        <%= submit_tag "Legg til" %>
      <% end %>
    </td>
  </tr>
  <%end%>
</table>
